
.primary {
    background-color: #1C1C1C ;
    color: white ;
    border-radius: 100px;    

    //font-family: "Covered By Your Grace", cursive;
    
    &:hover {
        background-color: #4e4e4e ;
    }

}

.secondary {
    background-color: #FFFFFF ;
    color: #1C1C1C;
    border: 1.3px solid #EAEAEA ;
    border-radius: 100px;

    &:hover {
        background-color: #F1F1F1 ;
        border: 1.3px solid #EAEAEA ;
        color: #1C1C1C;
    }

}

.btn:active  {
    border: none;
    transform: none;
}
